
.our-team{
    .our-team-title{
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    p {
        padding: 0;
        margin: 0;
    }

    .team-section {

        display: flex;
        flex-direction: column;

        padding-top: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    .team-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    
    .team-member {
        width: 200px;
        
        text-align: left;
    }
    
    .team-member-photo img {
        width: 100%;
    }
    
    .team-member h1 {
        padding: 0;
        margin: 10px 0;
    }
    
    .team-member p {
        margin: 5px 0;
    }
}
