.partners {
    @include columnOffset;
    h1 {
        color: #050A3A;
        font-family: Mulish;
        font-size: rem(84);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
.partners-list {
    margin-top: rem(160);
    @include flexbox(row, nowrap, center, center, #{rem(119)});
}
.partner {
    width: 200px;
    max-height: 150px;
}

.partner img {
    width: 100%;
    height: 100%; 
}
// Media query pour les écrans jusqu'à 768px de large
@media (max-width: 768px) {
    .partners-list {
        @include flexbox(column, nowrap, center, center, 1rem); // Ajuster l'espace pour les petits écrans
    }
}