@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

$font1: "Mulish", sans-serif;
$font2: "Mulish", serif;
$color-text: #8A8A8A;

@mixin heading1 {
	font-family: $font1;
	font-size: rem(25);
	line-height: 1.2;
	letter-spacing: 0.1em;
	font-weight: 400;
}

@mixin heading3 {
	font-family: $font1;
	font-size: rem(16);
	line-height: 1.5;
	letter-spacing: 0.1em;
	font-weight: 400;
}

@mixin heading4 {
	font-family: $font2;
	font-size: rem(16);
	line-height: rem(27);
	letter-spacing: 0.03em;
	font-weight: 400;
}

@mixin heading6 {
	font-family: $font2;
	font-size: rem(13);
	line-height: rem(21);
	letter-spacing: 0.05em;
	font-weight: 300;
}
